.MovieLink {
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
  width: 500px;
  text-align: center;
}
.MovieLink a {
  color: black;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}
.MovieLink a:hover {
  color: blue;
  cursor: pointer;
  text-decoration: solid;
}
