.Header {
  padding: 20px;
  background: #4f75f1;
}
.Header a {
  color: black;
  font-size: 25px;
  text-decoration: none;
}
.Header a:hover {
  color: white;
  font-size: 30px;
  text-decoration: solid;
  cursor: pointer;
}
.SearchBlock {
  width: 1300px;
  margin: 0 auto;
  padding: 0 15px;
}
.SearchBlock input {
  margin-top: 5%;
  padding: 5px;
  width: 200px;
}

.Content {
  display: flex;
}
